.dataTables_wrapper .dataTables_paginate{
	float: right;
}

.pagi-container .pagination{
	display: inline-block;
	margin: 0px;
}

.pagination li {
	float: none;
	font-size: .9rem;
	padding: 0px;
	line-height: 1.4rem;
	border-radius: 0px;
	text-align: center;
	display: inline-block;
}