nav ul li.no-hover:hover{
	background: none;
}

.menu-sidebar-collapse {
	margin: 0px 10px 0 18px;
}

.menu-sidebar-collapse i{
	line-height: 36px !important;
}

h1.logo-wrapper{
	margin: 0px 0px;
}

h1 span.logo-text{
	color: #ECF0F9;
	font-size: 3rem;
	line-height: .5;
}

header .brand-logo {
	margin: 1px 0px;
	padding: 0 20px;
	padding-left: 0px;
}