@import "../framework";

// frontends
.btn.btn-primary {
	background-color: $cyan;
	border-color: $cyan-darken-2;
}

.center-container{
	display: inline-block;
	float: none !important;
}

.top-nav{
	ul a{
		color: $cyan-darken-2;
	}
	a.brand-logo {
		padding: 0px 15px 0px 65px;
		font-size: 24px;
		background: url(../images/short-logo.jpg) no-repeat left center;
	}
	.dropdown-content{
		min-width: 200px;
		right: 0px !important;
	}
}



// other configuration
main {
	background-color: $cyan;
	border-top: 3px solid $cyan-darken-2;
}

footer.page-footer{
	margin-top: 0px;
}

// media queries
@media screen and (max-width: 415px) {
	.login-actions .btn.btn-primary{
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}
}